/* Start of Eugene's CSS file */

.ehbody {
    background-color: #d5b6b6;
    padding-top:0px;
    margin: auto;
}

.htmlbody {
    height: 100%;
}

.ehsidebar a:hover {
    color: #FF0000;
}

.ehsidebar a {
    text-decoration: none;
    color: #17202A;
}

.ehsidebar {
    align-items: flex-start;
    flex: 1;
    margin-left: 0;
}

.ehsidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin: 0px;
    justify-content: space-around;
    background-color: #f3eaea;
    padding: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 470px;
    width: 110px;
    text-align: center;  
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.ehnav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    width: 120px;
    height: 470px;
    background-color: #f3eaea; 
    position: fixed;
    justify-content: space-between;
}

.ehnav li {
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 17px;
    text-decoration: none;
}

.ehnav a:hover {
    color: red;
}

.ehnavbar a {
    text-decoration: none;
}

.p {
    font-family: 'Lato', sans-serif; 
    text-decoration: none;
    color: #17202A;
}

.ehtop {
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    height: 350;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
}

.ehtopimage {
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.ehhero {
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    height: 350;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;   
}

.ehheroimage {
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.ehbottom {
    background-position: center; 
    background-repeat: no-repeat;
    padding: 30px;
    height: 350;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;   
}

.ehbottomhref {
  background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    height: 350;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;  
}

.eh {
    background-size: cover;
    background-repeat: no-repeat;
     background-image: url('/group/images');
    height: 450px;
    margin-left: 110px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.ehfooterhref {
    display: block;
    margin-left: 100px;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
    align-content: center;
    text-align: center;
}

img {
    width:100%;
    height: auto;
}

.h1 {
    font-size: 350%;
    font-family: 'Lato', sans-serif;
}

.h1 a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2 {
    text-align: left;
}

.h2 { 
    font-size: 175%;
    font-family: 'Kreon', sans-serif;
}

.h2 a {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* CSS footer code */

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face {
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

.ehfa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Twitter */
.ehfa-twitter {
    background: #55ACEE;
    color: white;
}

/* Facebook */
.ehfa-facebook {
    background: #3B5998;
    color: white;
}

/* Snapchat */
.ehfa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
/* Youtube */
.ehfa-youtube {
  background: #bb0000;
  color: white;
}

/* Instagram */
.ehfa-instagram {
  background: #125688;
  color: white;
}

.ehfooter {
    padding: 0px;
    margin: 20px; 
}

/* End of Eugene's CSS file */






  








 

